

<form action="/random/results">
<div>
<label for = "giraffe">Minimum</label>

<input id = "giraffe" type="text" name="users_min" placeholder= "E.g. 1.5">
</div>

<div>
<label for = "max">Maximum</label>

<input id = "max" type="text" name="users_max" placeholder= "E.g. 4.5">
</div>

<button>Pick random number</button>
</form>
